<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615307311007-n13r33r8n93kb77smg6nn4jdlpn8sjia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615307311007-n13r33r8n93kb77smg6nn4jdlpn8sjia</string>
	<key>API_KEY</key>
	<string>AIzaSyBnkMzd-Qq09MdlKL6OUV3c9gui4bAOnBw</string>
	<key>GCM_SENDER_ID</key>
	<string>615307311007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Shahin.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d2791</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d2791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615307311007:ios:6d8cd099df59bdd280afaa</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-d2791.firebaseio.com</string>
</dict>
</plist>